<% layout('layouts/boilerplate') %> 
    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="post" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="campground[title]" value="<%= campground.title  %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" id="location" name="campground[location]" value="<%= campground.location %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                <label for="price" class="form-label">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input id="price" type="text" class="form-control" aria-label="Price" aria-describedby="price-label" name="campground[price]" value="<%= campground.price  %> " required>
                    <span class="input-group-text">.00</span>
                  </div>
                  <div class="valid-feedback">
                    Looks good!
                </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" class="form-control" id="description" name="campground[description]" required><%= campground.description  %> </textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="constainer mb-3">
                    <label for="image">Upload images</label>
                    <div class="custom-file" id="customFile" lang="es">
                        <input type="file" class="custom-file-input" id="image" aria-describedby="fileHelp" name="image" multiple>
                        <label class="custom-file-label" for="image">
                           Add more image(s)...
                        </label>
                    </div>
                </div>
                <div class="mb-3">
                    <% campground.images.forEach(function(img,i) { %> 
                        <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" name="deleteImages[]" id="image-<%= i %>" value="<%= img.filename %>">
                        </div>
                        <label for="">Delete?</label>
                    <%})%> 
                </div>
                <div class="mb-3">
                <button class="btn btn-info">Update Campground</button>
                </div>
            </form>
            <a href="/campgrounds/<%= campground._id  %> ">Back To Campground</a>
        </div>
    </div>
